output/
*.obj
*.mod
*.o
*.out
*.exe
*.txt*
!tests/matrix.txt
!CMakeLists.txt
bin/
lib/
build/
*~
*.dat
\#*#
distclean.cmake
.vscode

tests/
!tests/input*
!tests/Amatrix.txt
!tests/pedigree
!tests/phenotype*
!tests/asreml*.as
